<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/base :: main-layout(title='Nuevo Proveedor', content=~{::#form-prov-content})}">
<head><title>Ignorar</title></head>
<body>

<div id="form-prov-content">
    <div class="card shadow col-md-6 mx-auto border-0">
        <div class="card-header bg-warning text-dark"><h4>🚛 Registrar Proveedor</h4></div>
        <div class="card-body">
            <form th:action="@{/web/proveedores/guardar}" th:object="${proveedor}" method="POST">
                <input type="hidden" th:field="*{proveedorId}" />

                <div class="mb-3">
                    <label class="form-label fw-bold">Nombre Empresa</label>
                    <input type="text" class="form-control" th:field="*{nombre}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Contacto</label>
                    <input type="text" class="form-control" th:field="*{contacto}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" th:field="*{telefono}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" th:field="*{email}">
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/web/proveedores" class="btn btn-secondary me-md-2">Cancelar</a>
                    <button type="submit" class="btn btn-success">Guardar Proveedor</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>