<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/base :: main-layout(title='Proveedores', content=~{::#proveedores-content})}">
<head><title>Ignorar</title></head>
<body>

<div id="proveedores-content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>🚛 Proveedores</h2>
        <div>
            <a href="/web/proveedores/nuevo" class="btn btn-warning text-dark">+ Nuevo Proveedor</a>
        </div>
    </div>

    <div class="card mb-3 bg-white p-3 shadow-sm border-0">
        <form action="/web/proveedores" method="GET" class="row g-2">
            <div class="col-md-5">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre Empresa...">
            </div>
            <div class="col-md-5">
                <input type="text" name="contacto" class="form-control" placeholder="Nombre Contacto...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-secondary w-100"><i class="bi bi-search"></i> Filtrar</button>
            </div>
        </form>
    </div>

    <div class="table-responsive shadow-sm">
        <table class="table table-bordered table-hover mb-0 bg-white">
            <thead class="table-dark">
            <tr><th>ID</th><th>Empresa</th><th>Contacto</th><th>Teléfono</th><th>Email</th><th>Acciones</th></tr>
            </thead>
            <tbody>
            <tr th:each="p : ${listaProveedores}">
                <td th:text="${p.proveedorId}"></td>
                <td th:text="${p.nombre}" class="fw-bold"></td>
                <td th:text="${p.contacto}"></td>
                <td th:text="${p.telefono}"></td>
                <td th:text="${p.email}"></td>
                <td>
                    <a th:href="@{/web/proveedores/editar/{id}(id=${p.proveedorId})}" class="btn btn-sm btn-warning text-white"><i class="bi bi-pencil-fill"></i></a>
                    <a th:href="@{/web/proveedores/eliminar/{id}(id=${p.proveedorId})}" class="btn btn-sm btn-danger" onclick="return confirm('¿Eliminar proveedor?')"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>